body{margin: 0;}

.main{width:  100vw;
      height: 100vh;
      background: rgb(255, 255, 255);
      display: flex;
      justify-content:center;
      align-items: center;}

/*
.up{width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    background: #ffffff;}
*/

.left{width:  100%;
      height: 100%;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      background: #ffffff;}

.right{width:  100%;
       height: 100%;
       display: flex;
       justify-content:center;
       align-items: center;
       flex-direction: column;
       background:#e2310d;}

.card{width:  50%;
      height: 50%;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      background:#ffffff;}

.card > h1 {color: rgb(0, 0, 0);
            font-weight: 800;
            margin-left: 0%;}

.buttom{justify-content:center;
        align-items: center;}