
/*
Tirando a margem default
*/
body{margin: 0;}

/*
vw = % da largura da tela, ou seja, no caso e quanto o main-login vai ocupar
vh = % da altura  da tela, ou seja, no caso e quanto o main-login vai ocupar
*/

.main-login{width: 100vw;
            height: 100vh;
            background: rgb(7, 7, 79);
            display: flex;
            justify-content:center;
            align-items: center;}

.left-login{width: 50vw;
            height: 100vh;
            background: rgb(7, 7, 79);
            display: flex;
            justify-content:center;
            align-items: center;}

.left.left-login > h1{color: aquamarine;}